.Modal {
    padding: 30px 80px 20px 20px;
    min-width: 300px;
    min-height: 200px;
    max-width: 700px;
    max-height: 450px;
    /* background: linear-gradient(120deg, #b9d8fa 0%, #fadbb9 100%); */
    /* background: linear-gradient(to right, #7f53ac 0, #657ced 100%); */
    background: linear-gradient(to right, #b9d8fa 0, #fadbb9 100%);
    position: relative;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.6);
  }
  
  .Modal_close {
    font-size: 2rem;
    position: absolute;
    width: 37px;
    height: 37px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    top: 5px;
    right: 20px;
    cursor: pointer;
    border-radius: 50%;
    color: white;
    transform: rotate(45deg);
    transition: all 1s;
    background-color: rgba(0, 0, 0, 0.2);
    z-index:9999;  /* para sobrepor */
  }
  
  .Modal_close:hover {
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .Modal_body {
    border-radius: 10px;
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    flex-direction: column;
    font-size: 1.2rem;
    margin: 2rem;
    gap: 2rem;
  }

  label.form-label {
    display: block;
    margin: 1rem 0 1rem; 
    color: gray;
    font-size: 1rem;
    line-height: 1;
    /* text-transform: uppercase; */
    letter-spacing: .2em;
  }

  input#create_name.form_name {
    outline: none;
    background: rgba(black, 0.1);
    width: 100%;
    border: 0;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 12px 20px;
    color: gray;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    transition: 0.3s ease;
  }

  input#create_image.form_image {
    outline: none;
    background: rgba(black, 0.1);
    width: 100%;
    border: 0;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 12px 20px;
    color: gray;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    transition: 0.3s ease;
  }

  .button_create{
    background-color: #c64d48;
    padding: 0.5rem;
    margin: 1rem;
    border: 3px solid #c64d48;
    border-radius: 5px;
    color: white;
    cursor: pointer;
  }
  
  @media (max-width: 400px) {
    .Modal {
      padding: 15px 70px 15px 15px;
    }
  }