@media only screen and (max-width: 600px){
    h1 {
        font-size: 5rem !important;
        padding-left: .5rem !important;
    }
  }  

@font-face {
    font-family: "bartdeng";
    src: url(../../assets/fonts/bartdeng/Bartdeng.ttf);
    font-weight: normal;
}

h1 {
    color: #c64d48;
    font-family: "bartdeng";
    font-size: 5rem;
    display: flex;
    padding-left: 5rem;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a{
    text-decoration: none;
}
